<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="Notas" connectionString="Data Source = sql.holamundodevs.com;Initial Catalog=Elvis_NotasDB;User Id=elvisonate;Password=Holamundo123*;Integrated Security=false; TrustServerCertificate = true" />
	</connectionStrings>
	
</configuration>